<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="Syste  m.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <appSettings>
   

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483647" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="PartyTyID" value="S" />
    <add key="CompanyId" value="WS" />
    <add key="CompID" value="WS" />
    <add key="PID" value="HMS" />
    <add key="MID" value="WPO" />  
    <add key="MISDASHBOARD" value="0"/>
    <add key="WSMLOGIN" value="0"/>
    <add key="CLIENTIPIND" value="0"/>
    <add key="MULTITENANTAPPL" value="0"/>
    <add key="MIS_NAV_IND" value="0"/>
    <add key="ViewMode" value="1"/>

  <!--added for getting mail template-->
   <add key="MailTmpl" value="0" />    <!-- 0-fushi 1-acoya-->

<add key="Telerik.Skin" value="Bootstrap" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
 <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

<!--FO-Reservation-NEW-->
  <add key="FO_URL" value="http://192.168.1.178:8002/" />
<add key="FOPRINTAPI" value="http://192.168.1.178:8002/"/>

 <!--LOGIN-->
    <add key="LOGINURL" value="http://192.168.1.178:8002/" />
 <add key="FOAPI" value="http://192.168.1.178:8002/" />
 <add key="WIN_COM_URL" value="http://192.168.1.178:8002/"/>
<!--Cashcard-->
    <add key="CASH_CARD" value="http://192.168.1.178:8002/" /> 

    <!--Sales and Marketing-->
    <add key="FORPT" value="http://192.168.1.178:8003//FOReports.svc" />
    <add key="FOANALYSISURL" value="http://192.168.1.178:8003//FoAnalysis.svc?wsdl"/>
    <!--Front Office-->
    <add key="FOURL" value="http://192.168.1.178:8003//FOGuestTrn.svc" />
    <add key="FORPTURL" value="http://192.168.1.178:8003//FOTrans.svc" />
    <add key="FORPTURL1" value="http://192.168.1.178:8003//FOReports.svc" />
    <add key="FOMSTURL" value="http://192.168.1.178:8003//FoMasters.svc" />
    <add key="FOTELERIKURL" value="http://192.168.1.178:8003//FoAgentBLock.svc?wsdl" />
    <add key="NAGLURL" value="http://192.168.1.178:8003//NAGLPostingService.svc" />
    <add key="NAGLTALLYURL" value="http://192.168.1.178:8003//NAGLTally.svc" />
    <add key="FOJSVCURL" value="http://192.168.1.178:8003//FoJReports.svc"/>
    <add key="FOJQURL" value="http://192.168.1.178:8003//FoJQueries.svc" />
    <add key="FOJRURL" value="http://192.168.1.178:8003//FoJReports.svc" />
   <add key="FOJTURL" value="http://192.168.1.178:8003//FoJTrans.svc" />

  <!--Front Office Json URL-->
    <add key="FOJSVCURL" value="http://192.168.1.178:8003//FoJReports.svc" />

    <add key="LangId" value="E" />
    <add key="Property" value="Hmstest" />

    <add key="Validationsettings:UnobtrusiveValidationMode" value="None" />
 	
  </appSettings>
    
  <connectionStrings>
   <add name="ConnString" connectionString="Server=192.168.1.129;User Id=sa;Password=infosqlwinsar;Database=royalcontinental;Max pool size=100;Pooling=yes;Connection Timeout=900;" /> 
    <add name="PropertyConn" connectionString="Server=Fairy;User Id=sa;Password=infosqlwinsar;Database=WINCLOUD;Max pool size=100;Pooling=yes;Connection Timeout=9000;"/>
    
  </connectionStrings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
      
    </pages>
  </system.web.webPages.razor>
  <system.web> 
 <webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
    </webServices>
<sessionState mode="InProc" timeout="20"></sessionState>
 <!-- <sessionState cookieless ="true" regenerateExpiredSessionId ="true"></sessionState>-->
 <!-- <sessionState mode="InProc"  cookieless ="UseUri"></sessionState>-->
    <httpHandlers>
      <!--<add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />-->
     <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />     
    <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />

    <!--<identity impersonate="true" userName="winsar5\thillai" password="thillai"/>-->
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
 <add assembly="Telerik.Web.UI, Version=2015.3.930.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime useFullyQualifiedRedirectUrl="true" requestLengthDiskThreshold="15360"  enableVersionHeader="false" targetFramework="4.5" maxRequestLength="1048576" requestValidationMode="2.0" executionTimeout="200" />
    <!--<pages validateRequest="false">-->
    <pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" /> 
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="aspx" namespace="Saplin.Controls" assembly="DropDownCheckBoxes" />
		<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" /><add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />


      </controls>
    </pages>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>-->
    </authentication>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>-->
    <!--<roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>  -->
    <globalization culture="en-GB" enableClientBasedCulture="true" uiCulture="en-GB" />
        <identity impersonate="true" />
   
  </system.web>
  <system.webServer>

	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="1073741824" />
		  </requestFiltering>
	  </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		<remove name="BlockViewHandler" />
		<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      
 <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
    <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" closeTimeout="11:10:00" openTimeout="11:10:00" receiveTimeout="11:10:00" sendTimeout="11:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="55524288" maxReceivedMessageSize="6665536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxStringContentLength="20000000" />
          <reliableSession ordered="true" inactivityTimeout="10:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
   
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFOGuestTrn" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.178:8003//FOGuestTrn.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFOGuestTrn" contract="ServiceReference1.IFOGuestTrn"
        name="BasicHttpBinding_IFOGuestTrn" />
    
       <!-- <endpoint address="http://192.168.1.178:8003//MMSTranService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="IMMSTranService" name="BasicHttpBinding_IMMSTranService" />-->
    </client>
  </system.serviceModel>
  <system.webServer />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices> 
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>

</configuration>