.webix_secondary .webix_button {
    padding-left: 3px;
    padding-top: 1px;
    color: black ! important;
    border-radius:5px;
    border: 1px solid #fff ! important;
    background-color:#fff;
}
.skin-yellow .main-header .navbar {
    background-color: #0798af ! important;
}
.skin-yellow .main-header .logo {
    background-color:  #505b05 ! important;
}
.skin-yellow .main-header li.user-header{
     background-color: #0798af ! important;
}
.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    background-color:  #505b05 ! important;
}

.btn {
    border-radius: 5px ! important;
    -webkit-box-shadow: none ! important;
    box-shadow: none ! important;
    border: 1px solid #0798af ! important;
    margin-bottom:5px! important;

}
.btn-box-tool {
    padding: 2px ! important;
    font-size: 14px ! important;
    background: transparent ! important;
    color: #0798af ! important;
}
.box.box-warning {
    border-top-color: #0798af ! important;
}
.webix_el_colorpicker input, .webix_el_combo input, .webix_el_datepicker input, .webix_el_search input, .webix_el_text input{
        border: 1px solid #0798af ! important;
        font-size: 14px ! important;
        border-radius:3px ! important;
}
.webix_dd_drag_column, .webix_ss_header, .webix_ss_header td, .webix_ss_vscroll_header {
    background: #0798af ! important;
}
.webix_dtable .webix_ss_header td.webix_last_row {
    border-bottom: 1px solid #0798af ! important;
}
.webix_dtable div.webix_ss_vscroll_header {
    border-bottom-color: #0798af ! important;
}
    .webix_column > div.webix_cell_select:nth-child(2n), .webix_column > div.webix_cloumn_select:nth-child(2n), .webix_column > div.webix_row_select:nth-child(2n) {
        background-color: #dcdbbb !important;
    }
    .webix_dtable_focused .webix_column > div.webix_row_select {
    background: #878c7a !important;
    color:white !important;
}
    .modal-footer {
    height: 35px !important;
    padding: 3px !important;
     border-top-color: #0798af !important;
}
    .modal-header {
    border-bottom-color: #0798af !important;
    height: 35px !important;
    padding: 10px !important;
}
   .ChkStyle .webix_inp_label{
        width:0px ! important;
    }
   .webix_checkbox_1 .webix_custom_checkbox {
    color:  #0798af !important;
}
    /* .webix_dtable .webix_ss_body .webix_column > div, .webix_dtable .webix_ss_body .webix_table_cell {
        border-left-color: #0798af  !important;
        border-right-color: #0798af  !important;
    } */
    .webix_dtable_focused .webix_column > div.webix_column_select, .webix_dtable_focused .webix_column > div.webix_row_select {
        background: #d8d7c5 !important;
        color:#0798af !important;
    }
    .webix_column > div, .webix_table_cell {
        /* border-bottom: 1px solid #0798af  !important;
        border-right: 1px solid #0798af  !important; */
        padding: 0 9pt;
    }
.webix_dtable {
    border-radius:5px ! important
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px!important;
        margin: 50px auto!important;

    }
}
@media (min-width: 576px) {
    .PopupWidth .modal-dialog {
        max-width: 1000px!important;
        margin: 50px auto!important;
         width:1000px  !important;
    }
}
.webix_el_radio .webix_radio_1 .webix_custom_radio {
    color: #0798af ! important;
}
.webix_fieldset > fieldset {
    border: 1px solid #0798af! important;
}
.webix_el_checkbox input {
    border-color: #0798af! important;
}
.webix_custom_checkbox {
    color: #0798af! important;
}

.webix_inp_static, .webix_el_colorpicker input, .webix_el_combo .webix_inp_static, .webix_el_combo input, .webix_el_datepicker .webix_inp_static, .webix_el_datepicker input, .webix_el_richselect .webix_inp_static, .webix_el_richselect input, .webix_el_search .webix_inp_static, .webix_el_search input {
    border-color: #0798af! important;
}
.webix_input_icon {
    color: #0798af !important;
}
.webix_inp_counter_next {
    color: #0798af !important;
}
.webix_inp_counter_prev {
     color: #0798af !important;
}
.webix_el_counter .webix_inp_counter_value {
    border-color:  #0798af !important;
}
.webix_el_counter .webix_inp_counter_next, .webix_el_counter .webix_inp_counter_prev {
    border: .5px solid #0798af !important;
}
.webix_dd_drag_column, .webix_ss_header, .webix_ss_header td, .webix_ss_vscroll_header {
    color: white !important;
}
.webix_fieldset > fieldset {
    border: 1px solid #0798af !important;
    border-radius: 3px;
}
.webix_hcell {
    text-align:center ! important;
}

.webix_el_textarea textarea{
     border: 1px solid #0798af !important;
}
.modal-content {
    border-radius:5px !important;
}
.webix_ss_footer .webix_hcell {
    text-align:right ! important;
}
.webix_dtable .webix_ss_footer tr:nth-child(2) td {
    border-top: 1px solid #0798af! important;
}
.webix_dtable div.webix_ss_vscroll_footer {
    border-top-color: #0798af! important;
}
.webix_tree_open,.webix_tree_close{
    color:#6aa084 ! important;
}
.webix_cell.webix_dtable_colrow{
    background-color:#6aa084! important;
    color:red ! important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff! important;
    background-color: #0798af! important;
    border-color: #0798af #0798af #0798af! important;
}
.nav-tabs {
    border-bottom: 1px solid #0798af! important;
}
 .webix_view .webix_dt_editor input, .webix_view .webix_dt_editor select {
    border-color: #0798af! important;
    border-radius: 2px;
}
 .webix_dtable .webix_select_mark>div.webix_row_select {
    box-shadow: inset 2px 0 #0798af! important;
}
 .tab-head {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom: 3px solid #0798af !important;
}
 .btn:disabled {
    opacity: 0.30!important;
}
 .webix_cal_body .webix_cal_today .webix_cal_day_inner {
    box-shadow: inset 0 0 0 1px #0798af !important;
}
 .webix_cal_body .webix_cal_event {
    color: #0798af !important;
}
 .webix_cal_body .webix_cal_select .webix_cal_day_inner, .webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner {
    background-color:  #0798af !important;
}
 .webix_list .webix_list_item.webix_selected {
    border-bottom: 1px solid  #0798af !important;
}
.webix_list_item.webix_selected {
    box-shadow: inset 2px 0 #0798af !important;
}
.webix_list_item.webix_selected {
    background:  #0798af !important;
    color: #fff!important;
}
.webix_icon_button {
    width:35px !important;
}
.webix_el_box {
        font-size: 14px !important;
        line-height:28px !important;
    }
/* .webix_column > div:nth-child(2n) {
    background-color: #a9d3da !important;
} */
.close {
    height: 45px !important;
    line-height: 0px !important;
}

.ClickBtn{
     background-color: #0798af !important;
        color: #fff! important;
}
.UnClickBtn{
     background-color: #fff !important;
        color:  #0798af! important;
}
.webix_el_counter .webix_inp_counter_prev {
    font-size:17px ! important;
     font-weight:bold ! important;
}
.webix_el_counter .webix_inp_counter_next {
    font-size:17px ! important;
     font-weight:bold ! important;
}
 .webix_dtable{
    border-width:1px 1px ! important;
}
.webix_window{
    border-radius:5px ! important;
}
/*.webix_window{
   z-index:1035 ! important;
}*/
.webix_win_head {
    border-bottom: 1px solid #dadee0;
    background-color: #0798af! important;
}
.webix_header{
    border-bottom: 1px solid  #0798af! important;
    border-top: 1px solid #0798af !important;
    background:   #0798af! important;
    color:#fff !important;
    border-radius:5px ! important;
}
.webix_win_title{
    background:   #0798af! important;
    color:#fff !important;
}
webix_secondary .webix_button .webix_icon, .webix_secondary .webix_button .webix_icon_btn, .webix_secondary .webix_button .webix_img_btn_text {
   font-size:20px;
    font-weight: bold;
}
.webix_el_label .webix_el_box, .webix_inp_label, .webix_inp_top_label, legend.webix_forminput_label {
    color: #313131;
    font-family: Roboto,sans-serif;
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: .2px;
}
    .webix_inp_label, .webix_inp_top_label, .webix_label_right {
    font-size: 14px !important;
}
    .webix_el_colorpicker input, .webix_el_combo input, .webix_el_datepicker input, .webix_el_search input, .webix_el_text input {
    font-size: 14px !important;
}
.webix_view {
    font-size: 14px !important;
}
.webix_el_box {
     font-size: 14px !important;
}
.webix_button, .webixbutton {
     font-size: 14px !important;
}
.webix_icon_btn {
    margin-top:1px;
    line-height: 16.5px;
}

.bg_white{background-color:#fff; border-radius:5px; margin:4px;}




/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.clsHeaderBtn .webix_secondary .webix_button{
    background: #cdd4d7;
}
.webix_table_checkbox{
width: 20px !important;
height: 25px !important;
}
.webix_header > div {
    line-height: 34px !important;
    font-size: 16px !important;
}
.webix_dataview{
    border: 1px solid #fff !important;
    border-radius:5px;
}
.webix_dataview_item {
    border: 1px solid  #0798af ! important;
    margin-bottom: 1% ! important;
    border-radius:5px ! important;
}
   .webix_dataview_item.webix_selected{
    background:#0798af ! important;
    color:#fff !important;
    border: 1px solid #fff !important;
    border-radius:5px ! important;
}

.webix_dataview_item.webix_selected  .btn{
    color:#fff !important;
    border: 1px solid #fff !important;
}
.webix_form {
    border:0px !important;
}
.webix_icon_button{
    border-radius:25px !important;
    border: 1px solid #0798af !important;
    font-weight: bold;
}
.webix_icon_button .webix_icon {
    margin-top: 5px;
    color: #0c0c0c!important;

}
/* .webix_control{
margin-top: 10px !important;
} */
.webix_el_colorpicker input, .webix_el_combo input, .webix_el_datepicker input, .webix_el_search input, .webix_el_text input{
    background-color: transparent !important;
}
.webix_switch_box{
    border: 1px solid #0798af !important;
}
/* .webix_switch_handle{
    background:#0798af ! important;
} */
.webix_el_switch .webix_label_right{
    text-align: left;
    margin-left: 5px;
}
.webix_view.webix_form{
    border-radius: 10px;
}
.webix_dataview_item.webix_selected .btn{
color:  #0798af !important;
}
button:focus{
    outline: none !important;
}
input[type="radio"], input[type="checkbox"]{
    width:100%;
    height:21px;
}
.webix_el_tabbar + .webix_multiview{
    border:  #0798af 1px solid;
}
.webix_all_tabs .webix_item_tab.webix_selected {
    box-shadow: inset 0 -2px #0798af !important;
    padding-bottom: 0;
     border:  #0798af 2px solid !important;
}
.webix_view.webix_control.webix_el_tabbar{
    height:30px !important;
}
.webix_fieldset > fieldset{
    padding:0px 10px !important;
}
.webix_el_checkbox .webix_label_right{
    font-weight:500 !important;
}
.webix_view > .webix_disabled {
    background-color: #EBEDF0;
    opacity: 0.2 !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}.webix_view.webix_control .webix_disabled_box label, .webix_view.webix_control .webix_disabled_box .webix_input_icon, .webix_view.webix_control .webix_disabled_box button {
    color: #6b6c6d !important;
}
.webix_view.webix_control .webix_disabled_box input, .webix_view.webix_control .webix_disabled_box select, .webix_view.webix_control .webix_disabled_box textarea, .webix_view.webix_control .webix_disabled_box .webix_inp_static {
 color: #6b6c6d !important;
}
.webix_ss_header td {
    border-right: 1px solid #DADEE0 !important;
    border-bottom: 1px solid #cad5da !important;
}
.webix_el_colorpicker .webix_input_icon {
    padding-left: 0 !important;
    top: 5px !important;
    right: 5px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 2px !important;
}
.main-header{
    z-index:100 !important;
}