<div class="modal fade" id="CmnDiv" tabindex="-1" role="dialog" aria-labelledby="lblmodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:80%; margin-left:20%;">
            <div class="modal-header">
                <h4 class="modal-title" id="lblearndect"><i id="earnicon" class="fa fa-plus-circle"></i> <span id="CmnHeading">Party Search</span> </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="CmnGrid" style="height:370px" data-text="NM"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCncl" type="button" class="btn btn-warning" data-dissmiss="modal"><i class="fa fa-close (alias)"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<style>
    
    #CmnGrid .k-grid-content {
        height: 300px;
    }
</style>




<script type="text/javascript">
    $("#btnCncl").click(function () {
        $("#CmnDiv").modal("hide");
    });


    $("#CmnGrid").on("dblclick", "tbody > tr > td", function () {
        debugger;
        var row = {};
        var getparent = "";
        var grid = $("#CmnGrid").data("kendoGrid");
        var row = $(this).closest("tr");
        var rowindx = grid.selectable.userEvents.currentTarget.rowIndex;
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem != null) {
            debugger;
            $("#edbParty").val(selectedItem.NM);
            window.GrdNM = selectedItem.NM.replace("&", "and");
            window.grdReqid = selectedItem.ID.trim();

            $("#btnCncl").click();
        }
        $("#btnCncl").click();
    });

</script>