<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - WINHMS Application</title>
        <link href="~/winhmsfav.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />      
        <link href="~/Content/bootstrap.css" rel="stylesheet" />     
         
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/web/kendo.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/web/kendo.common.min.css" rel="stylesheet" />       
        <script src="~/Scripts/kendo/jquery.min.js"></script>
        <script src="~/Scripts/kendo/bootstrap.min.js"></script>
        <script src="~/Scripts/kendo/kendo.all.min.js"></script>
        <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
        <script src="~/Scripts/kendo/kendo.timezones.min.js"></script>
       
        <link href="~/Content/ReservationStyle.css" rel="stylesheet" />
    </head>
    <body style="overflow:hidden;">
        @Html.Partial("_ReservationMenu")

     
        @RenderBody()
      
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                
            });
        </script>
        </body>
    </html>
