<div id="loading" class="loadingcss">
    <div id="wait" style="position: absolute; top: 30%; left:40%; padding:2px; z-index: 100;display:block;">
        @*<img src="~/Images/funkyloading.gif" style="width:80%; height:80%;" />*@
        <img src="~/images/winloadinggif.gif" style="width:80%; height:80%;" />
    </div>
</div>