@(Html.Kendo().Window()
    .Name("MessageSave")
    .Title(" <i class='fa fa-envelope fa-lg'></i>  Message")
    .Visible(false)
    .Content(@<text>
   <div style="margin-top:20px; margin-left:10px; z-index:20">
    <div style=" width:50px; float:left">
        <img src="../../Images/SaveImage.png" style="width:32px; height:32px;" />
    </div>
    <div style=" width:300px; float:left"><p style="text-align:left; color:maroon; font-weight:bold; margin-top:12px;"><label id="alertMegsave"></label></p>  </div>
</div>
<div style="text-align:right;  margin-top:70px; margin-right:50px;">
    <button type="button" class="btn btn-default btn-popup" id="okkksave" title="Close"><i class='fa fa-check-circle fa-lg'></i> Ok </button>
  </div>

<script type="text/javascript">
         $("#okkksave").click(function (e) {           
             var window = $("#MessageSave");
                 var kWnd = window.data("kendoWindow");
                 kWnd.center().close();               
                 document.location.reload(true);
         });
</script>    
    </text>)
         .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(420)
    .Height(125)
           
)




