.gbBstTables table {
}
.gbBstTables tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f2f2f2, #f2f2f2);
}

.gbBstTables tbody tr th {
    
    height: 30px;
    padding: 0px 10px;
    /*border-top: 1px solid #1f94ba;
    border-bottom: 1px solid #1f94ba;*/
    /*background: #1f94ba;
    background: -webkit-gradient(linear, left top, left bottom, from(#7aa9d5), to(#2aa7d7));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);*/
        color: #333!important;
    background-color: #f7f7f7!important;
    font-weight:700;
}
.gbBstTables tbody tr:nth-child(odd) td, .detailtable tbody tr.odd td {
    background-clip: padding-box;
    color: #000;
    border: 1px solid #d6e3f2;
    white-space: nowrap;
    padding: 7px 10px;
    font-size: 11px;
    /*background-color:#fff;*/
    /*white-space: pre-wrap;*/
}
/*.gbBstTables tbody tr:nth-child(even) td, .detailtable tbody tr.even td {
	background-clip: padding-box;
        color: #000;
        border: 1px solid #d6e3f2;
        white-space: nowrap;
        padding: 7px 10px;
        font-size: 11px;
        /*background-color:#def8f5;*/
}*/

.gbBstTables .gvTotal {
    background: #d8f3f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#d8f3f0), to(#d8f3f0));
    background: -moz-linear-gradient(top, #d8f3f0, #d8f3f0);
}

.gbBstTables .gvGroup {
    background: #bff1c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#d6e7f3), to(#cadeea));
    background: -moz-linear-gradient(top, #bff1c7, #aef1b9);
}

  .gbBstTables tbody.scroll tbody 
{
width: 10px;
background-color: #F5F5F5;
}


  #gbBstTables::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}


#gbBstTables::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}


#gbBstTables::-webkit-scrollbar-thumb
{
background-color: #0ae;
background-image: -webkit-gradient(linear, 0 0, 0 100%,
                   color-stop(.5, rgba(255, 255, 255, .2)),
   color-stop(.5, transparent), to(transparent));
}
.cssButton{margin-left:0;margin-bottom:2px;padding:0px 3px 0px;background-color:#1f94ba;}

/*.gbBstTables::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}


.gbBstTables tbody ::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}


.gbBstTables::-webkit-scrollbar-thumb
{
background-color: #0ae;
background-image: -webkit-gradient(linear, 0 0, 0 100%,
                   color-stop(.5, rgba(255, 255, 255, .2)),
   color-stop(.5, transparent), to(transparent));
}*/


/*.GridviewScrollItem .Freeze {
    background-color: #fff;
    height: 40px;
}

.GridviewScrollItem .IconsBg {
    background-color: #d6e3f2;
    width: 15px;
    height: 15px;
    padding: 0px 3px;
}

.GridviewScrollItemHover TD {
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #CCCCCC;
    cursor: pointer;
}

.GridviewScrollItemHover .Freeze {
    background-color: #CCCCCC;
}

.GridviewScrollItemSelected TD {
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #999999;
    color: #FFFFFF;
}

.GridviewScrollItemSelected .Freeze {
    background-color: #999999;
}

.GridviewScrollPager {
    border-top: 1px solid #AAAAAA;
}

    .GridviewScrollPager TD {
        padding-top: 3px;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .GridviewScrollPager A {
        color: #666666;
    }

    .GridviewScrollPager SPAN {
        font-size: 16px;
        font-weight: bold;
    }8*/
    
