
/*@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Black.woff2') format('woff2'),
        url('Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BlackItalic.woff2') format('woff2'),
        url('Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.woff2') format('woff2'),
        url('Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BoldItalic.woff2') format('woff2'),
        url('Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.woff2') format('woff2'),
        url('Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLight.woff2') format('woff2'),
        url('Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Italic.woff2') format('woff2'),
        url('Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.woff2') format('woff2'),
        url('Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-LightItalic.woff2') format('woff2'),
        url('Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-MediumItalic.woff2') format('woff2'),
        url('Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Thin.woff2') format('woff2'),
        url('Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ThinItalic.woff2') format('woff2'),
        url('Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}*/


.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
    background-color: #007bff!important;
    border-color: #007bff !important;
}
[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #D3CFC8;
    border-radius: 0;
    margin-left: -29px;
}
/*body{ 
     text-rendering:optimizeLegibility;
          font-size: .6125rem!important;
    font-weight: 400!important;
            font-family: 'Poppins'!important;
           
            
   }*/
        .new_hdr 
        {
           
          background: rgba(220, 239, 252,0.15);
    -webkit-box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.25);
    padding: 10px 0px 3px 10px;
    margin-top: 40px !important;
    /*line-height:20px;*/
        }


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #80b2ff!important;
  box-shadow: 0 0 0 0.2rem rgba(0,101,255,.25);
  outline: 0 none;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fbfbfb!important;
    opacity: 1;
}
.form-control:focus {
        color: #495057;
    background-color: #fff;
  border-color: #80b2ff!important;
    outline: 0;
        /*box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);*/
       box-shadow: 0 0 0 0.2rem rgba(0,101,255,.25);
    } 

        .form-control {
          
            display: block;
            width: 100%;
            height: 30px !important;
            padding: 0px 0px 0px 2px!important;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #cecece !important;
            border-radius: .25rem;
            box-shadow: inset 0 0 0 transparent;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            /*font-family: 'Poppins'!important;*/;

            font-size: .8125rem!important;
            font-style:normal!important;
            font-weight: 200!important;
        }



        .control-lable {
            text-rendering:optimizeLegibility;
          font-size: .6125rem!important;
    font-weight: 200!important;
            /*font-family: 'Poppins'!important;*/
           
            font-size:13px!important;
           
        }



        .div1 {
            float: left;
            width: 100%;
            margin-bottom: 5%;
            display: table-footer-group;
        }

        .div2 {
            float: left;
            width: 100%;
            margin-bottom: 5%;
            display: table-footer-group;
        }

        .navbar-expand .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row !important;
        }

        .btn-group.show .btn-tool, .btn-tool:hover {
            color: #ffffff !important;
            background-color: #1a388a;
        }

        .btn-tool {
            background: 0 0;
            color: #adb5bd !important;
            font-size: 14px !important;
            margin: -.75rem 0;
            padding: 0px 6px 1px 6px !important;
            background-color: #e1e1e1;
        }

        .bt_ico_btn {
            height: 32px!important;
            width: 30px!important;
            margin-top: 0px!important;
            /*padding-bottom: 3px;*/
            border-radius: 0px 5px 5px 0px;
        }

        .webix_win_head {
            border-bottom: 1px solid #dadee0;
            background: linear-gradient(180deg, #b3c2c5, #4b5484) !important;
        }

        }

        webix_header {
            background-color: #0798af !important;
            color: #fff !important;
            width: 88% !important;
            margin-left: 1px !important;
        }

        .selectdiv:after {
            content: '<>';
            font: 17px "Consolas", monospace;
            color: #333;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 11px;
            /*Adjust for position however you want*/
            top: 18px;
            padding: 0 0 2px;
            border-bottom: 1px solid #999;
            /*left line */
            position: absolute;
            pointer-events: none;
        }

        label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 100 !important;
    padding-left: 5px;
    vertical-align: 3px;
    /*height: 16px;
    width: 22px*/;
        }
        input[type="checkbox"] {
    background-color: initial;
     height: 16px;
    width: 22px;
    border:solid #e1e1e1;
}


        .wc_hdr_btn1 {
            padding: 2px 10px;
            font-size: 18px;
            color: #454545 !important;
            background-color: #dad6d6;
            border-radius: 5px;
        }

            .wc_hdr_btn1:hover {
                padding: 2px 10px;
                font-size: 18px;
                color: #fff !important;
                background-color: #1a388a;
                border-radius: 5px;
            }

        .wc_hdr_btn1_active {
            padding: 2px 10px;
            font-size: 18px;
            color: #fff !important;
            background-color: #1a388a;
            border-radius: 5px;
        }

        .hdr_btnnew {
            border: solid 0px;
            padding: 0;
            border-left: 1px solid #fff !important;
            border-right: 1px solid #fff !important;
            border-top: 1px solid #fff !important;
            border-bottom: 1px solid #fff !important;
        }

        .card-tools > a {
            border: solid 0px;
            padding: 0;
            border-left: 1px solid #fff !important;
            border-right: 1px solid #fff !important;
            border-top: 1px solid #fff !important;
            border-bottom: 1px solid #fff !important;
        }

        .btnButton {
            padding: 2px 10px !important;
            font-size: 18px;
            color: #454545 !important;
            background-color: #dad6d6;
            border-radius: 5px;
            font-weight: normal;
            margin-bottom: 0;
            line-height: 18px;
            text-align: center;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
            vertical-align: middle;
            font-weight: bold;
            background-position: -162px 6px;
            background-repeat: no-repeat;
            border-bottom-color: #bbb;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba;
            margin-left: .1em !important;
        }


        .btnButtonClick {
            color: #fff !important;
            border-radius: 5px;
            /*border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #bbb !important;*/
            display: inline-block;
            padding: 2px 10px !important;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
            vertical-align: middle;
            background-color: #1a388a;
            font-weight: bold;
            background-position: -162px 6px;
            background-repeat: no-repeat;
            border-bottom-color: #bbb;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            margin-left: .1em !important;
            /*background-image: url(../images/sprite.png) no-repeat top left;*/
        }

        .themedes {
            width: 100%;
            float: left;
            background-color: #fff;
            min-height: 500px !important;
            overflow: hidden;
            padding: 1% 0% 1% 1%;
            /*box-shadow: inset 0 0 3px 1px #ddd;*/
            box-shadow: none;
        }

        .content-wrapper {
            background-color: #fff !important;
        }

        .mainheader {
            color: #fff;
            text-align: left;
            width: 100%;
            padding-left: 2%;
            line-height: 25px;
            background-color: #1c688c;
            float: left;
            font-weight: bold;
        }

        .wcsm_ctrl{width:100px!important; float:left;}
        .wcxs_ctrl{width:50px!important; float:left;}
        .wc50_bx{width:40px!important; float:left;}
        .wcauto_bx{width:auto!important;float:left!important;}
        .wc100_bx{width:100px;float:left;}
        .wc75_bx{width:75px!important;float:left;}
        .wc150_bx{width:165px;float:left;}
        .wth_15per{float:left;width:17%}
        .wth_33per{float:left;width:30%}
        .wth_78per{float:left;width:78%}
        .wcwth_78per{float:left;width:78%}
        .wcwth_37per{float:left;width:37%}
        .wcwth_65per{float:left;width:65%}
       .wcwth_18per{float:left;width:18%}
        .secbox{height:130px!important;}
        .secbox2 {background-color:#fbfbfb;}
        .secbox4 {background-color:#fbfbfb;}
        
       .rf_grid{    overflow-y: scroll;
    position: relative;
    height: auto;
    width: auto;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    border: solid 1px;}

.wc_pdl3{padding-left:3px;}



   .rf_grid ::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}



.popheader {
    width: 100%;
    text-align: center;
    line-height: 18px;
    background-color: #52CAEF;
    float: left;
    color: #fff;
    /* border-bottom: 4px solid #FFBE17; */
}
















/*webix custom css*/
.webix_view {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border: 0 solid #dadee0;
    color: #000!important;
    cursor: default;
    
    font-size: 9pt;
    
    letter-spacing: .2px;
    overflow: hidden;
    white-space: normal;
       text-rendering:optimizeLegibility;
          font-size: .6125rem!important;
    font-weight: 200!important;
            /*font-family: 'Poppins'!important;*/
            font-family:'roboto'!important;
           
            font-size:13px!important;
            
}
.webix_column > div:nth-child(2n) {
    background-color: #fdfdfd !important;
}
.webix_toolbar .webix_el_label .webix_el_box {
    color: #475466;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    background-color: #fafbfc!important;
}
.webix_el_box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 9pt;
    height: 100%;
    overflow: hidden;
    padding: 3px 2px;
    width: 100%;
    background-color: #f1f1f1!important;
}
.webix_view webix_control, webix_el_icon{width:34px!important;margin-left:0px!important;}

/*.webix_dd_drag_column, .webix_ss_header, .webix_ss_header td, .webix_ss_vscroll_header{background: #f4f5f9;
  
    font-family: Roboto,sans-serif;
    font-size: 9pt;
    font-weight: 500;
    letter-spacing: 0;
    background:#f4f4f4!important;
    color:#007bff!important;
    margin: 0% 0% 1% 0%;

}*/

.webix_el_colorpicker .webix_inp_static:focus, .webix_el_datepicker .webix_inp_static:focus, .webix_el_dbldatepicker .webix_inp_static:focus, .webix_el_richselect .webix_inp_static:focus, .webix_el_select select:focus, .webix_el_textarea textarea:focus {

    border-color: #80b2ff!important;
  box-shadow: 0 0 0 0.2rem rgba(0,101,255,.25)!important;
}

.webix_dd_drag_column, .webix_ss_header, .webix_ss_header td, .webix_ss_vscroll_header 
{
    color: #333!important;
    background-color:#f7f7f7!important;
}

.BtnClr button 
{

    background: linear-gradient(180deg, #518994, #74bbec) !important;
    color: #fff ! important;
    text-align:center;
}

.pop .webix_secondary .webix_button:hover
{
    background: #f6f6f6;
    color: #090909;
    border: 1px solid #999999!important;
    padding-left: 0px!important;
    border-radius: 3px! important;
}

.pop .webix_secondary  {
    background: #fff!important;
    color: #454545!important;
    border: 1px solid #ffffff!important;
    padding: 0px!important;
    border-radius: 3px! important;
    /*border: 1px solid #999999!important;*/
    text-align: center;
    width: 100%;
    float: left;
}
.pop .webix_secondary .webix_button {
    background: #fff;
    color: #090909;
    border: 1px solid #999999!important;
    padding: 0px!important;
    border-radius: 3px! important;
}
.webix_toolbar {
    /*background: linear-gradient(-184deg, #056f86, #28c5e6)! important;*/
    background: #f1f1f1!important;
    color: #fff ! important;
    text-align: center;
}
 
        .webix_inp_static, .webix_el_colorpicker input, .webix_el_combo .webix_inp_static, .webix_el_combo input, .webix_el_datepicker .webix_inp_static, .webix_el_datepicker input, .webix_el_richselect .webix_inp_static, .webix_el_richselect input, .webix_el_search .webix_inp_static, .webix_el_search input {
            border-color: #cecece !important;
        }
        .webix_el_box {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 9pt;
            height: 100%;
            overflow: hidden;
            padding: 3px 2px;
            width: 100%;
              background-color:transparent!important;
        }
          button:focus {
            outline: 1px dotted;
            outline: none!important;
        }
/*

.pop .webix_secondary .webix_button:hover {
    background: #fff!important;
    color: #454545!important;
    border: 1px solid #999999!important;
    padding-left: 0px!important;
    border-radius: 3px! important;
}*/


.wc_hdr_tlt
{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight:bold;
}

/*03.10.2020*/

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.divNote
{font-size:11px;
 color:maroon;
 padding:3px;
}
.popheader {
    width: 100%;
    text-align: center;
    line-height: 18px;
   background-color: #fafbfc!important;
    float: left;
    color: #fff;
    font-size:14px;
border-bottom: 1px solid #dee2e6;
color:#000;
padding: 0.5rem 0.5rem;
    border-radius: 10px 10px 0px 0px
    /* border-bottom: 4px solid #FFBE17; */
}

.poppage {
    top: 100px;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    background-color: #F9F9F9;
    border: 1px solid #808080;
    padding: 3px;
    box-shadow: 0 0 5px #808080;
    color: #000;
    position: absolute;important
}
.poppage-new{
    top: 100px;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border: 1px solid #808080;
    padding: 3px;
    box-shadow: 0 0 5px #808080;
    color: #000;
    position: absolute;
    border-radius:10px;
}
.grd_mt {
    float: left;
    margin-top: 5px;
}
.popbtns {
    text-align: right;
    width: 100%;
    line-height: 0;
    padding:2px 0px 2px 0px;
    background-color: #fff;
    padding-right: 1%;
    float: left;
    border-bottom:solid 1px #E0E0E0;
}
.GrdHeaderStyle {
    background-color: #f7f7f7 !important;
    color: White;
    height: 18px;
    cursor: default;
    border: 1px solid #BFBFBF;
    color: #333;
}
.wc_ckbx > input[type="checkbox"] {
    vertical-align: middle!important;
}

.wc_fulwidth {
    /* line-height: 30px; */
    width: 100%;
    float: left;
}
#divPropbox{padding-top:0px;}
.poppage-new > .btnButton{font-size:11px!important;}

.wc_popbtnButton{border-left: 1px solid #ccc;
    vertical-align: baseline;
    font-size: 11px!important;
    padding: 0 5px;
    border-right: 1px solid #989898;
    line-height: 14px;
    border-top: 1px solid #989898;
    cursor: pointer;
    border-bottom: 1px solid #bbb;
    background-color: #f5f5f5;
    font-weight: normal;
    margin-left: 1px;
    }
/*19.10.2020*/
.wcmst_btnsm {
    padding: .10rem .25rem!important;
    font-size: .875rem!important;
    line-height: 1!important;
    border-radius: .2rem!important;
}
.wc_valign{vertical-align:top!important;}
.poppage-new {
    top: 100px;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border: 1px solid #808080;
    padding: 3px;
    box-shadow: 0 0 5px #808080;
    color: #000;
    position: absolute;
    border-radius: 10px;
}
.mainheader {
   width: 100%;
    text-align: center;
    line-height: 18px;
    background-color: #FAFBFC!important;
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #DEE2E6;
    color: #000;
    padding: 0.5rem 0.5rem;
    border-radius: 10px 10px 0px 0px
 /* border-bottom: 4px solid #FFBE17; */;
}
.popheader {
    width: 100%;
    text-align: center;
    line-height: 18px;
    background-color: #FAFBFC!important;
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #DEE2E6;
    color: #000;
    padding: 0.5rem 0.5rem;
    border-radius: 10px 10px 0px 0px
 /* border-bottom: 4px solid #FFBE17; */;
}
.mainheader span {
    color: #000 !important;
    font-weight: bold !important;
}
/*.wc_cstbtn
{
        background-color: #F8F9FA;
    border-color: #ddd;
    color: #444;
    }*/
.wc_cstbtn {
    background-color: #F8F9FA!important;
    border-color: #ddd !important;
    color: #444 !important;
    border: 1px solid #999999 ! important;
}

.wc_cstbtn:hover{
    color: #fff!important;
    background-color: #007BFF!important;
    border-color: #007BFF!important;
    box-shadow: none;
    }
/*20.10.2020*/

.alertbox-new {
  top: 100px;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    padding: 3px;
    color: #000;
    position: absolute;
    text-align: center;
}
.wcwth_80per{width:80%;float:left;}

/*21.10.2020*/
.wcwth_80per{width:80%;float:left;}
.wc_cstbtn
{
        background-color: #F8F9FA!important;
    border-color: #ddd!important;
    color: #444!important;
    }
.wc_cstbtn:hover{
    color: #fff!important;
    background-color: #007BFF!important;
    border-color: #007BFF!important;
    box-shadow: none;
    }
.wc_cstbtn20 {
    background-color: #F8F9FA!important;
    border-color: #ddd!important;
    color: #444!important;
    height: 20px;
    padding: 0px 3px 0px 5px!important;
    vertical-align: middle!important;
    line-height: 0px!important;
}
.wc_cstbtn30:hover {
   color: #fff!important;
    background-color: #007BFF!important;
    border-color: #007BFF!important;
    height: 20px;
    padding: 0px 3px 0px 5px!important;
    vertical-align: middle!important;
    line-height: 0px!important;
}
.wc_cstbtn30 {
    background-color: #F8F9FA!important;
    border-color: #ddd!important;
    color: #444!important;
    height: 30px;
    padding: 0px 3px 0px 5px!important;
    vertical-align: middle!important;
    line-height: 0px!important;
}
.wc_cstbtn30:hover {
   color: #fff!important;
    background-color: #007BFF!important;
    border-color: #007BFF!important;
    height: 30px;
    padding: 0px 3px 0px 5px!important;
    vertical-align: middle!important;
    line-height: 0px!important;
}