@{
    /**/

             
    ViewBag.Title = "Cash Collection Userwise";
    //if (ViewBag.VMD == "2") { Layout = "~/Views/Shared/Layout/FO_LayoutSM.cshtml"; }
    //else
    //{ Layout = "~/Views/Shared/_FoTransLayout.cshtml"; }
    Layout = "~/Views/Shared/_FoComLayout.cshtml";
}

<link href="~/Content/sidemenu-custom.css" rel="stylesheet" />

<link href="~/Content/xlExportCss.css" rel="stylesheet" />
<script src="~/Scripts/xlExport.js"></script>

<script>
    

    $(document).ready(function () {
        $("#MenuName").val('FOMNUREPCASHCOLLECUSRWS');
        $("#MenuLvl").val('FOMNUNA');
        $("#MenuLvl1").val('');
        webix.ready(function () {
            var Print = "<span  class='wc_fnt18 fas fa-1x  fa-print'></span>";
            var excel = "<span  class=' wc_fnt18 far fa-1x fa-file-excel'></span>";
            $("#LoadDIv").hide();
            
            var Prop_Id =  @Html.Raw(Json.Encode(ViewBag.COMP));
            var J1IND =  @Html.Raw(Json.Encode(ViewBag.J1IND));
            var Propertyload = LoadProperty();
            var AccountDt = account_dt();
            var CurrDt = current_dt("D");
            var vFromDt = formatDate1(AccountDt);
            var vToDt=formatDate1(CurrDt);

            webix.ui({
                container: "divPropbox", view: "richselect", id: "ddlproperty", options: Propertyload,
                on: {
                    onChange: function (newv, oldv) {
                        sessionReassign();
                        LoadCurrDet(newv);
                    }

                }
            });
            webix.ui({
                view: "button", id: "Print", value: "Print",  width: 70, container: "divPrint", label: Print, tooltip: true,
                on: {
                    onItemClick: function () {
                        fnGridPrint();
                    }
                }

            });

            webix.ui({
                view: "button", id: "Excel", value: "Excel",  width: 70, container: "divExcel", label: excel, tooltip: true,
                on: {
                    onItemClick: function () {
                        DisplayExcel();

                    }

                }

            });
            webix.ui({ container: "divFrom", view: "label", id: "RoomTyLbl", label: "From", });
            webix.ui({
                container: "divFromDt", view: "datepicker", name: "FromDt", id: "FromDt", format: "%d/%m/%Y", stringResult: true, value: vFromDt,
                on: {
                    onChange: function () {
                        $$("dtCashCollect").clearAll();

                    }
                }
            });
            webix.ui({ container: "divTo", view: "label", id: "ToDtLbl", label: "To", });
            webix.ui({
                container: "divToDt", view: "datepicker", name: "ToDt", id: "ToDt", format: "%d/%m/%Y", stringResult: true, value: vToDt,
                on: {
                    onChange: function () {
                        $$("dtCashCollect").clearAll();

                    }
                }
            });
            webix.ui({ container: "divbtnDisp", css:"webix_primary", view: "button", id: "btnDisplay", icon: "wxi-check", label: "Display", inputWidth: 80, width: 80, click: function () { fnbtnDisplay(); } }),
                webix.ui({
                    container: "divChkFo", view: "checkbox", id: "ChkFo",width:100, labelWidth: 5, labelRight: "FO", customCheckbox: false,
                    click: function () {
                        
                        $$("dtCashCollect").clearAll();
                        if ($$("ChkPos").getValue() == 0 && $$("ChkFo").getValue() == 0 && $$("ChkLesis").getValue() == 0 && $$("ChkBanq").getValue() == 0 && $$("ChkSpa").getValue() == 0) $$("ChkFo").setValue(1);

                    },
                    on: {
                        onChange: function (newv, oldv) {

                        }
                    }
                }),
                webix.ui({
                    container: "divChkPos", view: "checkbox", id: "ChkPos",width:100, labelWidth: 5, labelRight: "POS", customCheckbox: false,
                    click: function () {
                        
                        $$("dtCashCollect").clearAll();
                        if ($$("ChkPos").getValue() == 0 && $$("ChkFo").getValue() == 0 && $$("ChkLesis").getValue() == 0 && $$("ChkBanq").getValue() == 0 && $$("ChkSpa").getValue() == 0) $$("ChkPos").setValue(1);

                    },
                    on: {
                        onChange: function (newv, oldv) {

                        }
                    }
                }),

                webix.ui({
                    container: "divChkLesis", view: "checkbox",width:100, id: "ChkLesis", labelWidth: 5, labelRight: "Leisure", customCheckbox: false,
                    click: function () {
                        
                        $$("dtCashCollect").clearAll();
                        if ($$("ChkPos").getValue() == 0 && $$("ChkFo").getValue() == 0 && $$("ChkLesis").getValue() == 0 && $$("ChkBanq").getValue() == 0 && $$("ChkSpa").getValue() == 0) $$("ChkLesis").setValue(1);


                    },
                    on: {
                        onChange: function (newv, oldv) {

                        }
                    }
                }),
                webix.ui({
                    container: "divChkBanq", view: "checkbox",width:100, id: "ChkBanq", labelWidth: 5, labelRight: "Banquet", customCheckbox: false,
                    click: function () {
                        
                        $$("dtCashCollect").clearAll();
                        if ($$("ChkPos").getValue() == 0 && $$("ChkFo").getValue() == 0 && $$("ChkLesis").getValue() == 0 && $$("ChkBanq").getValue() == 0 && $$("ChkSpa").getValue() == 0) $$("ChkBanq").setValue(1);

                    },
                    on: {
                        onChange: function (newv, oldv) {

                        }
                    }
                }),
                webix.ui({
                    container: "divChkSpa", view: "checkbox",width:100, id: "ChkSpa", labelWidth: 5, labelRight: "SPA", customCheckbox: false,
                    click: function () {
                        
                        $$("dtCashCollect").clearAll();
                        if ($$("ChkPos").getValue() == 0 && $$("ChkFo").getValue() == 0 && $$("ChkLesis").getValue() == 0 && $$("ChkBanq").getValue() == 0 && $$("ChkSpa").getValue() == 0) $$("ChkSpa").setValue(1);

                    },
                    on: {
                        onChange: function (newv, oldv) {

                        }
                    }
                });
            webix.ui({
                container: "divForEx",width:230, view: "checkbox", id: "ChkForEx", labelWidth: 15, labelRight: "Show Forex in base currency", customCheckbox: false,
                click: function () {
                    
                    $$("dtCashCollect").clearAll();
                    if ($$("ChkPos").getValue() == 0 && $$("ChkFo").getValue() == 0 && $$("ChkLesis").getValue() == 0 && $$("ChkBanq").getValue() == 0 && $$("ChkSpa").getValue() == 0) $$("ChkSpa").setValue(1);

                },
                on: {
                    onChange: function (newv, oldv) {

                    }
                }
            });
            
            
            $$("ddlproperty").setValue(Prop_Id);
            if(J1IND == "1")
                $("#divPropbox").show();
            else
                $("#divPropbox").hide();

            $$("ChkFo").setValue(1)
            LoadCurrDet(Prop_Id);
            loadCheckbox();
            dtLoadReport();
            ModuleRights();
        });
    });
    $(document).on('shown.lte.pushmenu', function () {
        var timeoutID;
        function delayedStart() {
            timeoutID = window.setTimeout(resizeAction, 350);
        }

        function resizeAction() {
            sidebarFn(1);
            //  alert("Sidebar is collapsed or expanded!")
            window.clearTimeout(timeoutID);
        }

        delayedStart();
      
    }).on('collapsed.lte.pushmenu', function(){
        var timeoutID;
        function delayedStart() {
            timeoutID = window.setTimeout(resizeAction, 350);
        }

        function resizeAction() {
            sidebarFn(2);
            //  alert("Sidebar is collapsed or expanded!")
            window.clearTimeout(timeoutID);
        }

        delayedStart();
    });
    function  sidebarFn(val){
        //var rowDatad = $$("dtCashCollect").serialize();

        //if ($$("dtCashCollect"))
        //    $$("dtCashCollect").destructor();

        //dtLoadReport();

        //$$("dtCashCollect").clearAll();
        //$$("dtCashCollect").parse(rowDatad);
        $$("dtCashCollect").resize();
       
    }
    function formatDate1(StrDt) {
        
        var Parts = StrDt.split("/");
        var Dt = Parts[0];
        var Mn = Parts[1];
        var Yr = Parts[2].substring(0, 4);
        var Str = Yr + "-" + Mn + "-" + Dt;
        return Str;
    };
    function account_dt() {

        var reqobj = {};
        reqobj["REQTYPE"] = "GETACCOUNTDT";
        var rowDatad = [];
        try {

            var dataparam = JSON.stringify(reqobj);
            $.ajax({
                type: "POST",
                async: false,
                url: "/FoTrans/getAcountDate",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ request: dataparam }),
                dataType: "json",
                acceptType: "application/json;charset=utf-8",
                success: function (d) {
                    
                    if (d != "" && d != undefined && d != null) {
                        //rowData = JSON.parse(d);
                        rowData = JSON.parse(d);


                    }


                },
            });

        }
        catch (e) {
            console.log(e.message)
        }
        return rowData.Account_Dt;
    }
    function current_dt(format) {

        var reqobj = {};
        reqobj["REQTYPE"] = "GETCURRENTDT";
        reqobj["DateFormat"] = format;
        var rowDatad = [];
        try {

            var dataparam = JSON.stringify(reqobj);
            $.ajax({
                type: "POST",
                async: false,
                url: "/FoTrans/getCurrentDate",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ request: dataparam }),
                dataType: "json",
                acceptType: "application/json;charset=utf-8",
                success: function (d) {
                    
                    if (d != "" && d != undefined && d != null) {
                        //rowData = JSON.parse(d);
                        rowData = JSON.parse(d);


                    }


                },
            });

        }
        catch (e) {
            console.log(e.message)
        }
        return rowData.CURR_DT;
    }
    function ModuleRights() {
        
        var NA_POS_POST_IND1 = $("#NA_POS_POST_IND").val();
        var NA_FACL_POST_IND1 = $("#NA_FACL_POST_IND").val();
        var NA_BNQ_POST_IND1 = $("#NA_BNQ_POST_IND").val();
        var NA_SPA_POST_IND1 = $("#NA_SPA_POST_IND").val();
        if (NA_POS_POST_IND1 == "1")
            $("#divChkPos").show();
        else
            $("#divChkPos").hide();
        if (NA_FACL_POST_IND1 == "1")
            $("#divChkLesis").show();
        else
            $("#divChkLesis").hide();
        if (NA_BNQ_POST_IND1 == "1")
            $("#divChkBanq").show();
        else
            $("#divChkBanq").hide();
        if (NA_SPA_POST_IND1 == "1")
            $("#divChkSpa").show();
        else
            $("#divChkSpa").hide();


    }
    function loadCheckbox() {
        var reqobj = {};
        reqobj["REQTYPE"] = "GETAVAILABLEMODULE";
        var rowDatad = [];
        try {

            var dataparam = JSON.stringify(reqobj);
            $.ajax({
                type: "POST",
                async: false,
                url: "/FoTrans/getAvailableModule",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ request: dataparam }),
                dataType: "json",
                acceptType: "application/json;charset=utf-8",
                success: function (d) {
                    
                    if (d != "" && d != undefined && d != null) {
                        //rowData = JSON.parse(d);
                        rowData = JSON.parse(d);
                        $("#NA_POS_POST_IND").val(rowData.NA_POS_POST_IND);
                        $("#NA_FACL_POST_IND").val(rowData.NA_FACL_POST_IND);
                        $("#NA_BNQ_POST_IND").val(rowData.NA_BNQ_POST_IND);
                        $("#NA_SPA_POST_IND").val(rowData.NA_SPA_POST_IND);

                    }


                },
            });

        }
        catch (e) {
            console.log(e.message)
        }
    }
    function LoadCurrDet(vProperty) {
        //
        var reqobj = {};
        reqobj["REQTYPE"] = "GETCURRFORMATDETAILS";
        var rowDatad = [];
        try {

            var dataparam = JSON.stringify(reqobj);
            $.ajax({
                type: "POST",
                async: false,
                url: "/FoTrans/GetCurrFormatDetails",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ request: dataparam }),
                dataType: "json",
                acceptType: "application/json;charset=utf-8",
                success: function (d) {
                    
                    if (d != "" && d != undefined && d != null) {
                        //rowData = JSON.parse(d);
                        rowData = JSON.parse(d);
                        $("#CURRENCY_FORMAT").val(rowData.CURRENCY_DECIMLIMIT);
                        $("#CURRENCY_DELIMIT").val(rowData.CURRENCY_DELIMIT);
                        $("#CURRENCY_DECIMLIMIT").val(rowData.CURRENCY_DECIMLIMIT);

                    }


                },
            });

        }
        catch (e) {
            console.log(e.message)
        }
    };
    function fnCurrFormat(value) {
        
        var Currfrmt = $("#CURRENCY_FORMAT").val();
        var CurrDelimit = $("#CURRENCY_DELIMIT").val();
        var CurrDecimal = $("#CURRENCY_DECIMLIMIT").val();
        return CurrFormat(value, Currfrmt, CurrDelimit, CurrDecimal);

    }
    function CurrFormat(value, Currfrmt, CurrDelimit, CurrDecimal) {
        

        if (value == null) return "";

        if (value.toString() != "") {


            if (Currfrmt == "L") {
                var x = parseFloat(value).toFixed(CurrDecimal);
                var neg = false;
                if (value < 0) {
                    neg = true;
                    //x = math.abs(x);
                }

                x = x.toString();
                var afterPoint = '';
                if (x.indexOf('.') > 0) {
                    afterPoint = x.substring(x.indexOf('.') + 1, x.length);
                    afterPoint = CurrDelimit + afterPoint
                }



                x = Math.floor(x);
                x = x.toString();
                var lastThree = x.substring(x.length - 3);
                var otherNumbers = x.substring(0, x.length - 3);
                if (otherNumbers != '' && otherNumbers != '-')
                    lastThree = ',' + lastThree;
                return otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;
            }
            else {
                var x = parseFloat(value).toFixed(CurrDecimal);
                var neg = false;
                if (value < 0) {
                    neg = true;
                    //x = math.abs(x);
                }

                x = x.toString();

                //var res = x.replace(/(\d)(?=(\d{3})+(?!\d))/g, "1,")  //+ afterPoint;
                //var res = x.replace(/(\d{3})/g, "1,")
                var res = x.replace(/\B(?=(\d{3})+(?!\d))/g, ",")

                if (res.indexOf('.') > 0) {

                    res = res.replace(".", CurrDelimit)
                }


                return res;
            }
        }
        else {
            return value;
        }
    };
    function dtLoadReport() {
        webix.ui({
            view: "treetable",
            id: "dtCashCollect",
            select: 'row',
            fixedRowHeight: false,
            rowLineHeight: 23,
            height: 450,
          minWidth:900,
            spans: true,
            autoConfig: true,
            resizeColumn: true,
            data: [],
            css: "webix_header_border",
         rawValues: true,
            container: "gridRptt",
            columns: [
                { header: "Module", id: "MODULE", width: 150,  css: { 'text-align': 'left ! important' } },
                { header: "User", id: "USER", width: 180, css: { 'text-align': 'left ! important' } },
                { header: "Collection Type", width: 200, id: "TYP", css: { 'text-align': 'left ! important' } },
               
                {
                    header: "Collection Amt", id: "AMT", width: 200 , css: { 'text-align': 'right ! important' },
                    format: function (value) {
                        return fnCurrFormat(value);
                    },
                    exportType: "number",
                    exportFormat: "#,##0.00",
                },
                {
                    header: "Payment", id: "PAYMENT", width: 150, css: { 'text-align': 'right ! important' },
                    format: function (value) {
                        return fnCurrFormat(value);
                    },
                    exportType: "number",
                    exportFormat: "#,##0.00",
                },
                {
                    header: "Balance", id: "BALANCE", width: 150, css: { 'text-align': 'right ! important' },
                    format: function (value) {
                        return fnCurrFormat(value);
                    },
                    exportType: "number",
                    exportFormat: "#,##0.00",
                },

            ],
            scheme: {
                $change: function (item) {
                    if (item.MODULE != "" && item.MODULE != null) {

                        if (item.MODULE == "FO" || item.MODULE == "Banquet" || item.MODULE == "POS" || item.MODULE == "Leisure" || item.MODULE == "SPA") {

                            $$("dtCashCollect").addSpan(item.id, "MODULE", 6, 1, null, "GrpHead");
                        }


                    }
                    if (item.TYP != "" && item.TYP != null) {
                        if (item.TYP == "User Total" || item.TYP == "Module Total" || item.TYP =="Grand Total") {
                            $$("dtCashCollect").addSpan(item.id, "TYP", 1, 1, null, "GrpTot1");
                            $$("dtCashCollect").addSpan(item.id, "BALANCE", 1, 1, null, "GrpTot1");

                        }
                    }

                },

            },

            on: {
                onAfterLoad: function () {
                    var rowId = this.getFirstId();
                },

                onBeforeClose: function () {
                    return false;

                },

            },
        });

    }




    function fnGridPrint() {
        
        $("#lblRptCaption").empty();
        $("#lblRptCaption").append("Cash Collection");
        var vHeader = $("#lblRptCaption").text();
        var FullData = "";

        FullData = $$("dtCashCollect").serialize();
        var len = FullData.length;
        if (len > 0) {
            webix.print($$("dtCashCollect"), {
                docHeader: vHeader,
                fontSize: 25,
                mode: "landscape",
                fit: "data"
            });
        }
        else {
            alert("Records not present in Report");
        }

    };
   

    function DisplayExcel() {
       
        var vHeader = @Html.Raw(Json.Encode(ViewBag.Title));
        var FullData = "";
        var FullData = $$("dtCashCollect").serialize();               
        var CompNm = $$("ddlproperty").getText();
        var Fromdt =  $$("FromDt").getText();
        var ToDt =  $$("ToDt").getText();

        var values = current_dt("DTM")
        //var vDate = values[0];
        //var vTm = values[1];

        var len = FullData.length;
        if (len > 0) {
            var vExpoartGrid = webix.copy($$("dtCashCollect"),-1);            
            fnComExcelExport(vExpoartGrid,vHeader,vHeader,true,CompNm,values,"",Fromdt,ToDt,"");

            //var data = $$("dtCashCollect");
            //webix.toExcel($$("dtCashCollect"), {
            //    filename: "Cash Collection",
            //    styles: true,
            //    name: "User wise cash cllection",
            //    docHeader: "Cash Collection",
            //    rawValues: true,
               
            //});
        }
        else
        {
            alert("Records not present in Report");
        }
    }
    function sessionReassign() {
        var PropertyId = $$("ddlproperty").getValue();
        $.ajax({
            type: "POST",
            url: "/FoTrans/PeopertySessionReAssign",
            data: "PropertyId=" + PropertyId,
            success: function (data) {
                $$("dtCashCollect").clearAll();
            }
        });
        $.ajax({
            async: false,
            type: "POST",
            url: "/Reports/GetCurrFormatDetails",
            data: "CmpId=" + PropertyId,
            success: function (d) {
                return true;
            }
        });
    }
    function LoadProperty() {
        
        var reqobj = {};
        reqobj["REQTYPE"] = "GET_PROPERTYLOAD_WEBIX";
        var dataparam = JSON.stringify(reqobj);
        $.ajax({
            type: "POST",
            async: false,
            url: "/FoTrans/fnGetProperty",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ request: dataparam }),
            dataType: "json",
            acceptType: "application/json;charset=utf-8",
            success: function (d) {
                
                if (d != "" && d != undefined && d != null) {
                    rowData = d;


                }

            },
        });
        return rowData;

    }
    function fnbtnDisplay() {
        
        $("#LoadDIv").show();
        $$("dtCashCollect").clearAll();
        var reqobj = {};
        var DispalyLedgerval = "";

        if ($$("ToDt").getText() == "") {
            webix.message({ type: 'warning', text: "To Date cann't be empty" });
            return;
        }

        if ($$("FromDt").getText() == "") {
            webix.message({ type: 'warning', text: "From Date cann't be empty" });
            return;
        }

        if ($$("ddlproperty").getText() == "") {
            webix.message({ type: 'warning', text: "Property cann't be empty" });
            return;
        }



        reqobj["FromDt"] = $$("FromDt").getText();
        reqobj["ToDt"] = $$("ToDt").getText();
        reqobj["REQTYPE"] = "GET_FOCASHCOLLECT";
        if ($$("ChkPos").getValue() == 1)
            reqobj["ChkPos"] = "1";
        if ($$("ChkFo").getValue() == 1)
            reqobj["ChkFo"] = "1";
        if ($$("ChkLesis").getValue() == 1)
            reqobj["ChkLesis"] = "1";
        if ($$("ChkBanq").getValue() == 1)
            reqobj["ChkBanq"] = "1";
        if ($$("ChkSpa").getValue() == 1)
            reqobj["ChkSpa"] = "1";
        if ($$("ChkForEx").getValue() == 1)
            reqobj["ChkForEx"] = "1";
        

        var dataparam = JSON.stringify(reqobj);
        $.ajax({
            type: "POST",
            async: true,
            url: "/FoTrans/fnDisplayCashCollection",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ request: dataparam }),
            dataType: "json",
            acceptType: "application/json;charset=utf-8",
            success: function (d) {
                
                if (d != "" && d != undefined && d != null) {
                    //rowData = JSON.parse(d);
                    rowData = d;
                    $$("dtCashCollect").clearAll();
                    $$("dtCashCollect").parse(rowData);
                    $$("dtCashCollect").refresh();

                }
                else {
                    AlertMessage("No records found");
                }


            },
        });
        $("#LoadDIv").hide();
    }
    function AlertMessage(Text) {
        return webix.alert({
            ok: "Ok",
            width: 350,
            title: "Alert Message",
            text: Text,
            modal: true,
        });
    }
</script>
<style>
    .textaligntotal {
        text-align: right;
    }

    .GrpTot1 {
        color: red;
        font-weight: Bold;
        font-family: Arial !important;
        text-align: right !important;
    }

    .GrpTot2 {
        color: red;
        font-weight: Bold;
        font-family: Arial !important;
        text-align: right !important;
    }

    .GrpHead {
        color: #4894ca;
        font-weight: Bold;
        font-family: Arial !important;
    }

    .btnXX {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5;
    }
   .webix_button
     {
        background-color: #dad6d6 !important;
        color: #454545 !important;
    }


   .webix_secondary .webix_button:focus, .webix_secondary .webix_button:hover
     {
        color: #fff !important;
        background-color: #1a388a !important;
    }

    webix_secondary .webix_button:active
     {
        color: #fff !important;
        background-color: #1a388a !important;
    }
    .new_hdr {
        background: rgba(220, 239, 252,0.15);
        -webkit-box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.25);
        box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.25);
        padding: 10px 0px 9px 10px;
        margin-top: 40px !important;
    }
    .wc_hdr_btn1 {
        padding: 2px 10px;
        font-size: 12px;
        color: #454545 !important;
        background-color: #dad6d6;
        border-radius: 5px;
    }

</style>
<div class="content-wrapper">
    <section ng-app="CashCollect" ng-controller="CashController" id="CashCollect">
        <div id="divPage">

            <div class="container-fluid">

                <div class="row new_hdr">



                    <div class="col-sm-3">
                        <div class="TextWidth" style="margin-top:5px;" id="divPropbox">
                        </div>
                    </div>


                    <div class="col-sm-5 text-center">
                        <label class="mt-1"  style=" color black; font-weight bold" id="lblRptCaption"> <strong class="mt-1 wc_hdr_tlt">Cash Collection - Userwise</strong></label>
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="mt-1">

                            <div class=" float-right"><div id="divPrint"></div></div>
                            <div class=" float-right"><div id="divExcel"></div></div>





                        </div>

                    </div>
                </div>
                       

                        @*<%--<div style="width:280px;float:left; height:100vh;">sidemenu</div>--%>*@

                        <div style="border:solid transparent;" class="row">
                            <div class="col-xl-2 col-md-8 col-sm-4 pr-0">
                                <div style="width:25%; float: left">
                                    <div id="divChkFo"></div>
                                    <div id="divChkPos"></div>

                                </div>
                                <div style="width:25%; float: left">
                                    <div id="divChkLesis"></div>
                                    <div id="divChkBanq"></div>
                                </div>
                                <div style="width: 25%; float: left" id="dvOccPer">
                                    <div id="divChkSpa"></div>

                                </div>
                               

                            </div>
                            <div class="col-xl-4 col-md-8 col-sm-4 pr-0">

                                <div style="width: 100%; float: left" id="dvForEx">
                                    <div id="divForEx"></div>
                                </div>



                            </div>

                                <div class="col-xl-3 col-md-5 col-sm-3 ">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-3 col-sm-3 ">
                                            <div id="divFrom"></div>
                                        </div>
                                        <div class="col-xl-6 col-md-7 col-sm-6">
                                            <div id="divFromDt"> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-md-3 col-sm-3 ">
                                            <div id="divTo"></div>
                                        </div>
                                        <div class="col-xl-6 col-md-7 col-sm-6 ">
                                            <div id="divToDt"> </div>
                                        </div>
                                        <div class="col-xl-2 col-md-2 col-sm-3  pr-0">
                                            <div id="divbtnDisp"></div>
                                        </div>
                                        @*<div class="col-xl-1 col-md-1 col-sm-1  pr-0" style=" float:left; " id="Div4">
                        <div id="divAdvSrch"></div>
                    </div>*@
                                    </div>
                                </div>


                            </div>

                        <div class="row">
                            <div class="col-sm-12">

                                <div id="gridRptt" style="width: 100%; height: 480px"></div>
                            </div>
                        </div>
                    </div>
        </div>

    </section>
    </div>
    <input type="hidden" id="CURRENCY_FORMAT" />
    <input type="hidden" id="CURRENCY_DELIMIT" />
    <input type="hidden" id="CURRENCY_DECIMLIMIT" />
    <input type="hidden" id="NA_POS_POST_IND" />
    <input type="hidden" id="NA_FACL_POST_IND" />
    <input type="hidden" id="NA_BNQ_POST_IND" />
    <input type="hidden" id="NA_SPA_POST_IND" />
