<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="PostUrl" value="http://localhost:6543/Booking.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>

  </system.web>
  <connectionStrings>
    <add name="Connect" connectionString="server=hulk;database=STELLAMEKADI;uid=sa;pwd=infosqlwinsar;" providerName="System.Data.SqlClient"/>
    <add name="ConnString" connectionString="server=Fairy;database=hmsdevelopLive;uid=sa;password=infosqlwinsar;Max pool size=100;pooling=yes;connection Timeout=900;"/>
    <add name="ConnStrings" connectionString="server=fairy;database=hmsdevelopLive;uid=sa;password=infosqlwinsar;Max pool size=100;pooling=yes;connection Timeout=900;"/>

    <add name="AGHOTELSEntities" connectionString="metadata=res://*/Model.WinHms.csdl|res://*/Model.WinHms.ssdl|res://*/Model.WinHms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.3,1633;initial catalog=AGHOTELS;persist security info=True;user id=sa;password=infosqlwinsar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GLEntities" connectionString="metadata=res://*/Model.GL_EntityModel.csdl|res://*/Model.GL_EntityModel.ssdl|res://*/Model.GL_EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.3,1633;initial catalog=AGHOTELS;persist security info=True;user id=sa;password=infosqlwinsar;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AGHOTELSEntities1" connectionString="metadata=res://*/Model.GL_EntityModel.csdl|res://*/Model.GL_EntityModel.ssdl|res://*/Model.GL_EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.3,1633;initial catalog=AGHOTELS;persist security info=True;user id=sa;password=infosqlwinsar;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment
 minFreeMemoryPercentageToActivateService="0"></serviceHostingEnvironment>

    <services>
      <service behaviorConfiguration="FoService.Service1Behavior" name="FoService.FoJReports">
        <endpoint address="" binding="basicHttpBinding" contract="FoService.IFoJReports">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GLService.GlMaster" behaviorConfiguration="GLService_Basic">
        <endpoint address="" binding="basicHttpBinding" contract="GLService.IService1"></endpoint>
        <endpoint address="JsonService" binding="webHttpBinding" behaviorConfiguration="GLService_Rest" contract="GLService.IService1"></endpoint>
      </service>
      <service name="GLService.wcfReport" behaviorConfiguration="GLservice_WCF">
        <endpoint address="" binding="basicHttpBinding" contract="GLService.IwcfReport" ></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <!--<behavior name="FoService.wcfReportAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>-->
        <behavior name="GLService_Rest">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="FoService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GLService_Basic">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="144" maxConcurrentSessions="800" maxConcurrentInstances="944" />
        </behavior>
        <behavior name="GLservice_WCF">
          <serviceMetadata httpGetEnabled="true"  />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="144" maxConcurrentSessions="800" maxConcurrentInstances="944" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" />
    </protocolMapping>


    <bindings>

      <basicHttpBinding>
        <binding  closeTimeout="10:00:00" openTimeout="10:00:00"
                 receiveTimeout="10:00:00" sendTimeout="10:00:00" allowCookies="false"
                 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" textEncoding="utf-8"
                 useDefaultWebProxy="true" messageEncoding="Text">


          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"  maxNameTableCharCount="2147483647"/>

        </binding>
        <binding name="basicHttpBinding" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
